__pycache__
build
dist
*.txt
*.pt
*egg-info*
tmp
output
*.pyc
.idea
*.zip
cache/
temp/
checkpoints/
huggingface/
log/
act_scales/
act_shifts/
pre_quantized_models/
temp.sh
paper-result/
temp/
layer_exp/
layer_exp_debug/
layer_exp_mode/
layer_exp_vis/
layer_exp_hidden/
*.npy
model_zoo/
layer_exp_log/
log-2/
log-*/
omniquant/
rotate_models/
*.pth
/data
/deploy
/lm_eval_bak
/datasets_local
/model_zoo
/gsm8k
/GPTQ
/results
AGENTS.md
